.container {
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
}

.header {
  position: fixed;
  height: 100vh;
  width: 5rem;
  white-space: nowrap;
}

.content {
  width: 100%;
  overflow-y: scroll;
  padding: 0 5rem;
}

.main {
  padding: 0 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 4rem;
}

@media only screen and (max-width: 800px) {
  .title a {
    font-size: 2rem;
  }
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: left;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.articleList {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0;
}

.articleLink {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.articleLink a {
  font-size: 1.5rem;
  font-weight: bold;
}

.articleLinkSubtitle {
  font-style: italic;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .header {
    width: 3rem;
  }

  .content {
    padding: 0 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}
